<div id='contact-form'>
  <%= image_tag("profile-50.jpg", class: "profile") %>
  <div class='contact-info'>
    <%= cms_snippet_content('contact-info', @cms_site).html_safe %>
    <%#= mail_to "eric.brown@homerealestate.com" %>
  </div>
  <%= link_to 'Contact Me', contacts_path %>
</div>


