<div id='contact-form'>
  <div>
    <%= cms_snippet_content('contact-info', @cms_site).html_safe %>
  </div>
  <%= image_tag("profile-50.jpg", class: "profile") %>
  <%= link_to 'Contact Me', contacts_path %>
</div>


