<div id="title">
  <span class="name">Eric Brown</span> 
  <span class="glyphicon glyphicon-tree-deciduous icon top-shadow"></span> 
  <div class="subtitle">
    <span class="sub">Home Real Estate</span>
  </div>
</div>
<div class='rect-white'>
  <div class='custom-notice'>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
  </div>
</div>

